html {
  scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    top: 0px;
    position: fixed;
    cursor: pointer;
    
}
.nav-list{
    display: flex;
   
}
.nav-list li {
    list-style-type: none;
    display: flex;
    text-decoration: none;
    padding-right: 10px;
    
}
.nav-list li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 20px 10px;
   
}
.nav-list li a:hover{
    
    color: rgb(58, 45, 45);
    font-size: 20px;
    border-bottom: 3px solid blue;
    margin-bottom: 17px;
    

}

.background{
    background-color: #ccf2ff;
    /*  #ccf2ff  */
}

/*      ------------------ body ------------ */

.box-main{
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(99, 97, 86);
    max-width: 70%;
    margin: auto;
    height: 60%;
}
.firstSection{
    padding-bottom: 30px;
    padding-top: 30px; 
}
.first{
    width: 80%;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    border-left: 6px solid rgba(0, 0, 248, 0.897);
    padding-left: 40px;
    
}
.second img{
    width: auto;
    background-position: center;
    position: relative;
}
.bigtext{
    font-size: 60px;
    color: rgb(90, 90, 90);
    
}
.bigtext span{
    color: rgba(31, 31, 231, 0.815) ;
    font-size: 80px;   
}
.text1{
    font-size: 40PX;
    color: rgb(82, 71, 71);
}
.text2{
    font-size: 18PX;
    
}

/*          ---------------------- Time line    ----------------*/

.timeline-container {
    font-family: "Roboto", sans-serif;
    max-width: 500px;
    margin: 0 auto;
    border-left: 4px solid #222;
    padding-left: 25px;
  }
  
  .timeline-container h2 {
    font-family: "Pacifico", cursive;
    font-size: 32px;
    margin: 0;
    color: #00272b;
    border-bottom: 1px solid #eee;
  }
  
  .timeline-container .event {
    box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.2);
    padding: 32px;
    margin: 48px 0;
    line-height: 2;
    cursor: pointer;
    position: relative;
    transition: all 500ms;
  }
  
  .timeline-container .event::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid #000;
    position: absolute;
    left: -35px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    transition: all 500ms;
  }
  
  .timeline-container .event:hover {
    box-shadow: 1px 9px 16px -1px rgba(0, 0, 0, 0.5);
  }
  
  .timeline-container .event:hover::before {
    background: #2db1dd;
  }
  
  .timeline-container .event .event-date {
    position: absolute;
    left: -150px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }
  
 .c1:before {
 content:' Registration for the event Analyst starts at 1pm.' ;
}
.c1:hover:before{
    content:'Changed after hovering' ;
}  
.c2:before {
    content:' Guesstimates and Di on d2c.' ;
   }
   .c2:hover:before{
       content:'Changed after hovering 2' ;
   }  
   .c3:before {
    content:' Case reveal to qualified participants for prelims at 11 am.' ;
   }
   .c3:hover:before{
       content:'Changed after hovering 3' ;
   } 
   .c4:before {
    content:' Last date of Case submission, to be accepted till 5 pm.' ;
   }
   .c4:hover:before{
       content:'Changed after hovering 4' ;
   } 
   .c5:before {
    content:'Case reveal for finals at 11 am to the qualified participants.' ;
   }
   .c5:hover:before{
       content:'Changed after hovering 5' ;
   } 
   .c6:before {
    content:'Live pitching of case solutions in front of judges.' ;
   }
   .c6:hover:before{
       content:'Changed after hovering 6' ;
   }    

hr{
    
    margin: 20px;
    left: 20px;
    justify-content: center;
    height: 3px;
    align-items: right;

}

/*      -------------Gallery -------------   */

.wrapper{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
   padding-top: 30px;
   width:80%;
   margin: auto;
   justify-content: center;
   align-items: center;
   grid-gap: 30px;
   bottom: 0;
    left: 0;
    right: 0;
}
.image{
    padding: 30px 10px;
    padding-left: 50px;
}
.image img{
    width: 500px;
    height: 300px;
    width: 100%;
    border: 2px solid rgba(47, 47, 49, 0.6);
}
.image img:hover{
    transition-duration: 400ms;
    transform:  translateX(3px)  translateY(-2px);
    transition-delay: 20ms;
    box-shadow:0px 8px 6px 0px rgba(0,5,4,.8) ;
    border: 0px;
}
.gallery{
    background-color: rgb(253, 233, 204);
    border: 2px solid rgba(128, 128, 128, 0.4);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
    padding-bottom: 60px;
}

.gtext{
    justify-content: center;padding-top: 30px;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    font-style: bold;
    font-family: monospace;
}
.gtext::first-letter{
    color: blue;
    font-size: 70px;
}

/*      ------------------ Sponcer  --------------------- */
.stext{
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 40px;
    
    padding-bottom: 50px;
    font-family: monospace;  
    color: rgb(0, 0, 0);
}
.sponcer{
    background-color: #e2d6d667;
    padding-top: 20px;
    border-top: 1px solid rgb(143, 142, 142,.1);
    justify-content: center;
    align-items: center;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding-top: 30px ;
    width:60%;
    margin: auto;
    justify-content: center;
    align-items: center; 
    padding-bottom: 50px;
    row-gap: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}
.image1 img{
    padding: 5px;
    margin:0px 20px;
    width: 90%;
    border: 2px solid rgba(223, 104, 104, 0.603);
}
.image1 img:hover{
    transition-duration: 400ms;
    /*transform:  translateX(5px) translateY(-3px);*/
    transition-delay: 20ms;
    box-shadow:4px 4px 4px 4px rgba(0,5,4,.1) ;
}


 
/*      ===================== Contact us ====================*/
.text3{
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    text-align: center;
    font-size: 40px;
    
    padding-bottom: 10px;
    font-family: "Open Sans";
    color: white;
}
.text3::first-letter{
    font-size: 54px;
}
.foot{
    background-color: rgba(71, 67, 67, 0.842);
    padding-top: 20px;
    border-top: 1px solid rgba(34, 31, 31, 0.699);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding-top: 10px ;
    width:60%;
    margin: auto;
    justify-content: center;
    align-items: center; 
    padding-bottom: 20px;
    column-gap: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}
.card-body img{
    float: left;
    padding: 1px;
    margin-right: 20px;
    border-radius: 20px;
    width: 40%;
    border: 2px solid rgba(255, 255, 255, 0.527);
}
.card-body{
    padding: 20px;
    margin-left: 10px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 20px;
}
.card-text{
    display: inline-table;
    color: rgba(245, 245, 245, 0.678);
    
   
}
.card-title{
    color: rgb(223, 217, 217);
    font-family: sans-serif;
    font-size: 25px;
}

/*      ================footer ==================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
}
footer{
    position: relative;
    bottom: 0;
    
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .6;
    font-weight: 200;
    font-size: 20px;
}

/*      ================== Media Element =============          */

@media (max-width: 870px) {
    .timeline-container {
      max-width: 100%;
      margin-left: 12px;
    }
  
    .timeline-container .event .event-date {
      position: static;
      margin-bottom: -20px;
    }
    .box-main{
        flex-direction: column-reverse;
        width: 100%;
        margin-left: 15px;
    }
    .second img{
        width:100%;
    }
    .image img{
         width: 85%;
         height: 100%;
         margin-left: 4px;
        
         
    }
    .gallery{
        margin-left: 15px ;
        max-width: 100%;
    }
    .sponcer{
        margin-left: 15px ;
        max-width: 100%;
    }
    .bigtext{
        font-size: 50x;
    }
    .A::first-letter
    {
        font-size: 65px;
    }
    .navbar{
        max-width: 100%;
    }
    .foot{
        margin-left: 15px;
        max-width: 100%;
    }
    
    
    .card-body img{
        width: 100%;
        
    }
    .card-body{
        margin-left: 15px;
        max-width: 100%;
    }
    .contact{
        max-width: 100%;
        margin-left: 12px;
    }
    .wrapper{
        max-width: 100%;
    }
    
    footer{
        max-width: 100%;
        margin-left: 10px;
        
    }
    .footer-content{
        padding: 20px;
    }
    body{
        margin-left: 20px;
        right:10px
        
    }
    
}
