/*
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    top: 0px;
    position: fixed;
    cursor: pointer;
    
}
.nav-list{
    display: flex;
   
}
.nav-list li {
    list-style-type: none;
    display: flex;
    text-decoration: none;
    padding-right: 10px;
    
}
.nav-list li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 20px 10px;
   
}




/*      ------------------ body ------------ */
.nav-list li a:hover{
    
    color: rgb(58, 45, 45);
    font-size: 20px;
    border-bottom: 3px solid blue !important;
    margin-bottom: 17px;
    

}
.background{
    background-color: #ccf2ff;
    /*  #ccf2ff  */
}
.box-main{
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(99, 97, 86);
    max-width: 70%;
    margin: 20px auto;
    height: 100%;
    padding: 40px 0px;
}
.firstSection{
    padding-bottom: 30px;
    padding-top: 30px; 
}
.first{
    width: 80%;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    border-left: 6px solid rgba(0, 0, 248, 0.897);
    padding-left: 40px;
    
}

.second img{
    width: auto;
    background-position: center;
    position: relative;
    
}
.bigtext{
    font-size: 60px;
    color: rgb(90, 90, 90);
    
}
.bigtext span{
    color: rgba(31, 31, 231, 0.815) ;
    font-size: 80px;   
}
.text1{
    font-size: 40PX;
    color: rgb(82, 71, 71);
}
.text2{
    font-size: 18PX;
    
}

/*          ---------------------- Time line    ----------------*/

.timeline-container {
    font-family: "Roboto", sans-serif;
    max-width: 500px;
    margin: 0 auto;
    border-left: 4px solid #222;
    padding-left: 25px;
  }
  
  .timeline-container h2 {
    font-family: "Pacifico", cursive;
    font-size: 32px;
    margin: 0;
    color: #00272b;
    border-bottom: 1px solid #eee;
  }
  
  .timeline-container .event {
    box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.2);
    padding: 32px;
    margin: 48px 0;
    line-height: 2;
    cursor: pointer;
    position: relative;
    transition: all 500ms;
  }
  
  .timeline-container .event::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid #000;
    position: absolute;
    left: -35px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    transition: all 500ms;
  }
  
  .timeline-container .event:hover {
    box-shadow: 1px 9px 16px -1px rgba(0, 0, 0, 0.5);
  }
  
  .timeline-container .event:hover::before {
    background: #2db1dd;
  }
  
  .timeline-container .event .event-date {
    position: absolute;
    left: -150px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }
  
  

hr{
    
    margin: 20px;
    left: 20px;
    justify-content: center;
    height: 3px;
    align-items: right;

}

/*      -------------Gallery -------------   */

.wrapper{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
   padding-top: 30px;
   width:80%;
   margin: auto;
   justify-content: center;
   align-items: center;
   grid-gap: 30px;
   bottom: 0;
    left: 0;
    right: 0;
}
.image{
    padding: 30px 10px;
    padding-left: 50px;
}
.image img{
    width: 500px;
    height: 300px;
    width: 100%;
    border: 2px solid rgba(47, 47, 49, 0.6);
}
.image img:hover{
    transition-duration: 400ms;
    transform:  translateX(3px)  translateY(-2px);
    transition-delay: 20ms;
    box-shadow:0px 8px 6px 0px rgba(0,5,4,.8) ;
    border: 0px;
}
.gallery{
    background-color: rgb(253, 233, 204);
    border: 2px solid rgba(128, 128, 128, 0.4);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
    padding-bottom: 60px;
}

.gtext{
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    font-style: bold;
    font-family: monospace;
}
.gtext::first-letter{
    color: blue;
    font-size: 70px;
}

/*      ------------------ Sponcer  --------------------- */
.stext{
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 40px;
    
    padding-bottom: 50px;
    font-family: monospace;  
    color: rgb(0, 0, 0);
}
.sponcer{
    background-color: #e2d6d667;
    padding-top: 20px;
    border-top: 1px solid rgb(143, 142, 142,.1);
    justify-content: center;
    align-items: center;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding-top: 30px ;
    width:60%;
    margin: auto;
    justify-content: center;
    align-items: center; 
    padding-bottom: 50px;
    row-gap: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}
.image1 img{
    padding: 2px;
    margin:0px 20px;
    width: 90%;
    background-color: white;
    /*border: 2px solid rgba(223, 104, 104, 0.603);*/
}
.image1 img:hover{
    transition-duration: 400ms;
    /*transform:  translateX(5px) translateY(-3px);*/
    transition-delay: 20ms;
    box-shadow:1px 2px 20px 7px rgba(0,5,4,.4) ;
}


 
/*      ===================== Contact us ====================*/
.text3{
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    text-align: center;
    font-size: 40px;
    
    padding-bottom: 10px;
    font-family: "Open Sans";
    color: white;
}
.text3::first-letter{
    font-size: 54px;
}
.foot{
    background-color: rgba(71, 67, 67, 0.842);
    padding-top: 20px;
    border-top: 1px solid rgba(34, 31, 31, 0.699);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding-top: 10px ;
    width:60%;
    margin: auto;
    justify-content: center;
    align-items: center; 
    padding-bottom: 20px;
    column-gap: 60px;
    
}
.card-body1 img{
    float: left;
    padding: 1px;
    margin-right: 20px;
    border-radius: 20px;
    width: 40%;
    border: 2px solid rgba(255, 255, 255, 0.527);
}
.card-body1{
    padding: 20px;
    margin-left: 10px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 20px;
}
.card-text1{
   
    color: rgba(245, 245, 245, 0.678);
    display: flex;
   
}
.card-title1{
    color: rgb(223, 217, 217);
    font-family: sans-serif;
    font-size: 25px;
    display: flex;
}

/*      ================footer ==================*/

*{
    margin: 0;
    padding: 0;
    
}

footer{
    position: relative;
    bottom: 0;
    
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .6;
    font-weight: 200;
    font-size: 20px;
}

/*      ================== Media Element =============          */

@media (max-width: 870px) {
    .timeline-container {
      max-width: 100%;
      margin-left: 12px;
    }
  
    .timeline-container .event .event-date {
      position: static;
      margin-bottom: -20px;
    }
    .firstSection
    {
        position: relative;
        max-width: 100%;
    }
    .box-main{
        flex-direction: column-reverse;
        width: 100%;
        margin-left: 15px;
        position: relative;
       
       
    }
    .second{
        max-width: 150%;
        margin: auto;
        align-items: center;
    }
    .second img{
        max-width:160%; 
        margin: auto;
        height: 100%;
        padding-right: 60px;
    }
    /*
        .second img{
        max-width:140%;
        padding-right: 20px;
        height: 130%;
    }
    */
    .image img{
         width: 85%;
         height: 100%;
         margin-left: 4px;
        
         
    }
    /*.gallery{
        margin-left: 15px ;
        max-width: 100%;
    } */
    .sponcer{
        margin: 0px auto ;
        max-width: 100%;
    }
    .bigtext{
        font-size: 50x;
    }
    .A::first-letter
    {
        font-size: 65px;
    }
    .navbar{
        max-width: 100%;
    }
    .foot{
        margin: 0px auto;
        max-width: 100%;
    }
    
    
    .card-body1 img{
        max-width: 100%;
        
    }
    .card-body1{
        margin-left: 15px;
        max-width: 100%;
    }
    .contact{
        max-width: 100%;
        margin:0px auto;
    }
    .wrapper{
        max-width: 100%;margin: auto;
    }
    
    footer{
        max-width: 100%;
        
        margin: auto;
        
    }
    .footer-content{
        padding: 20px;
    }
    body{
        margin:5px auto;
        
        
    }
    .gotopbtn{
        position: fixed;
        width: 50px;
        height: 50px;
        background:  yellowgreen;
        bottom: 0px;
        right: 0px;
        opacity: .7;
        text-decoration: none;
        align-content:right;
        justify-content: end;
        line-height: 50px;
        color: white;
        font-size: 22px;
    }

    
}

.t1::before{
    content: "Registration for the event Analyst starts at 1 pm.";
}
.t1:hover::before{
    content: "Click on Register.";
}
.t7::before{
    content: "Registration for the event closes at 9 pm.";
}
.t7:hover::before{
    content: "Click on Resister.";
}
.t2::before{
    content: "Round 1 (15 questions on logo+connect in section A and further 2 DI and 1 logical reasoning question in section B) from 6 pm to 6.30 pm .";
}
.t2:hover::before{
    content: "Round 1 (15 questions on logo+connect in section A and further 2 DI and 1 logical reasoning question in section B) from 6 pm to 6.30 pm .";
}
.t8::before{
    content: "The Bootcamp event";
}
.t8:hover::before{
    content: "The Bootcamp event";
}
.t3::before{
    content: "Results of round 1  at 9 pm. ";
}
.t3:hover::before{
    content: "Results of round 1  at 9 pm.";
}
.t9::before{
    content: "Case reveal to qualified participants for prelims at 11 am.";
}
.t9:hover::before{
    content: "Case reveal to qualified participants for prelims at 11 am.";
}
.t4::before{
    content: "Last date of Case submission of prelims, to be accepted till 5 pm.";
}
.t4:hover::before{
    content: "Last date of Case submission of prelims, to be accepted till 5 pm.";
}
.t5::before{
    content: "Declaration of winners of prelims at 5 pm .";
}
.t5:hover::before{
    content: "Declaration of winners of prelims at 5 pm .";
}
.t6::before{
    content: "Case reveal for finals at 11 am to the qualified participants.";
}
.t6:hover::before{
    content: "Case reveal for finals at 11 am to the qualified participants.";
}
.t10::before{
    content: "Live pitching of case solutions in front of judges.";
}
.t10:hover::before{
    content: "Live pitching of case solutions in front of judges.";
}
.t11::before{
    content: "Declaration of winners (top 3) at 11 am.";
}
.t11:hover::before{
    content: "Declaration of winners (top 3) at 11 am.";
}

#event{
    padding: 20px ;
}
.j{
    text-align: center;
    justify-content: center;
    margin: auto;
}
html,body {
    overflow-x: hidden;
}

.about1 .content 
{
    background-color: inherit;
    padding: 40px;
}
  
.about1 h3 
{
    font-size: 50px;
    font-weight: 700;
    color: #c0ee1a;
}
  
  
.about1 p 
{
    color: #ffffff;
    margin: 15px 0 30px 0;
    line-height: 24px;
    transition: 0s;
    opacity: 1;
    font-weight: normal;
    font-size: 20px;
}
html {
    scroll-behavior:smooth;
  }

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background:  yellowgreen;
    bottom: 15px;
    right: 15px;
    opacity: .7;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
 }
 .gotopbtn a:hover{
    color: white;
 }
  
